.chart {
  width: 4rem;
}

.carro {
  display: inline;
}

span {
  background-color: #fed7ea;
  border-radius: 30px;
  padding: 5px;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
