.cardProduct{
    border-radius: 15px;
    width: 10rem;
    padding: 0.5rem;
    margin: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fed7ea;
}

.imgProduct{
    width: 200px;
    object-fit: contain;
    height: 10rem;
}

 .btnProduct{
    background-color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
} 

h3{
    font-size: 1rem;
    text-align: center;
}

p{
    font-weight: bold;
}