nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: blue;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 7rem;
}

li {
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.3rem;
  font-weight: bold;
}

.logoDl {
  width: 15rem;
  margin-bottom: 0.5rem;
}
