footer{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    color: black;
    font-size: 14px;
    margin-top: 2rem;
    position: static;
    bottom: 0;
}

.logoD{
    width: 6rem;
}

.divF{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.logoF{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.logoT{
    margin-right: 0.5rem;
}